rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /tenants/{tenantId} {
      allow get, list: if true;
      allow create: if isSignedIn();
      allow update: if isSignedIn() && resource != null;
      allow delete: if isSignedIn() && resource != null;
    }

    match /products/{productId} {
      allow get, list: if true;
      allow create: if isSignedIn();
      allow update: if isSignedIn() && resource != null;
      allow delete: if isSignedIn() && resource != null;
    }

    match /orders/{orderId} {
      allow create: if true;
      allow get, list: if isSignedIn();
      allow update, delete: if isSignedIn() && resource != null;
    }

    match /settings/{document=**} {
      allow read, write: if isSignedIn();
    }

    function isSignedIn() {
      return request.auth != null;
    }
  }
}